* {
  box-sizing: border-box;
}

html, body {
	font-family: 'Arial', 'Helvetica Neue', helvetica, sans-serif;
	color: #777777;
	height: 100%;
	margin: 0;
}

#header {
	width: 960px;
	height: 80px;
	margin: auto;
	background: #fff;
}
h1{
	font-family: 'Georgia', Times, Times New Roman, serif;
	background: #4aaaa6;
	color: #fff;
	display: inline-block;
	padding: 20px;
	font-size: 35px;
	margin: 0px;
	height: 80px;
	float: left;
}
#menu-box {
	float: right;
	height: 80px;
	padding-top: 30px;
	font-size: 20px;
}
#menu-mid-item {
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
.menu{
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
}
a, a:visited, a:hover, a:active {
	color: #777777;
	text-decoration: none;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
	visibility: hidden;
    line-height: 0;
    height: 0;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa6;
	border-bottom: 2px solid #ddd;
	padding-bottom: 20px;
	margin-bottom: 20px;
	width : 600px;
	text-align: left;
	font-size: 26px;
}
h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa6;
	border-bottom: 2px solid #ddd;
	padding-bottom: 20px;
	margin-bottom: 20px;
	width : 210px;
	text-align: left;
	font-size: 23px;
}


.menu-icon {
	width: 68px;
	height: 68px;
	padding-right: 5px;
}

#content {
	width: 650px;
	background: #fff;
	padding:20px;
	/*margin: auto;*/
}

#profile_photo {
	width: 250px;
	height: 170px;
	float: left;
	margin: 0px 20px 20px 0px;
}
.clear {
	clear: both;
}

.content-wrapper {	
	width: 100%;
	padding-top: 20px;
	/*background-image: url("../images/bg_concrete-seamless.png");*/
	border-top: 2px solid #ccc;
	min-height: 100%;
}
#content-inside {
	width: 960px;
	margin: auto;
}
#content {
	width: 650px;
	background: #fff;
	margin: auto;
	float: left;
}

#sidebar {
	width: 270px;
	float: right;
	background: #fff;
	margin: auto;
	padding: 20px 20px 30px 30px;
}

.header-wrapper {
	width: 100%;
	background: #fff;
}
.wrapper {
	min-height: 100%;
	background-image: url("../images/bg_concrete-seamless.png");
}
*
.footer {
	width: 100%;
	margin-top: -78px;
	background: #666666;
	color: #b1bab6;
	text-align: center;
	border-top: 10px solid #4aaaa5;
	padding-top: 25px;
	padding-bottom: 25px;
}
