* {
  box-sizing: border-box;
}

html, body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	height: 100%;
	margin: 0;
}

h1{
	font-family: 'Georgia', Times, Times New Roman, serif;
	background: #4aaaa6;
	color: #fff;
	display: inline-block;
	padding: 20px;
	font-size: 35px;
	margin: 0px;
	height: 80px;
	float: left;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa6;
	border-bottom: 2px solid #ddd;
	padding-bottom: 20px;
	padding-top: 20px;
	margin-bottom: 20px;
	width : 590px;
	text-align: left;
	font-size: 30px;
}
h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa6;
	border-bottom: 2px solid #ddd;
	padding-bottom: 20px;
	margin-bottom: 20px;
	width : 210px;
	text-align: left;
	font-size: 23px;
}

header {
	width: 960px;
	height: 80px;
	margin: auto;
	background: #fff;
}

nav {
	float: right;
	height: 80px;
	padding-top: 30px;
	font-size: 20px;
}

footer {
	width: 100%;
	margin-top: -78px;
	background: #666666;
	color: #b1bab6;
	text-align: center;
	border-top: 10px solid #4aaaa5;
	padding-top: 25px;
	padding-bottom: 25px;
}

a, a:visited, a:hover, a:active {
	color: #777777;
	text-decoration: none;
}
section {
	width: 650px;
	background: #fff;
	margin: auto;
	margin-bottom: 70px;
	float: left;
	padding: 30px;
	padding-top: 0px;
	line-height: 1.8;
	border: 1px solid #ddd;
}

aside {
	width: 270px;
	float: right;
	background: #fff;
	margin: auto;
	padding: 20px 20px 30px 30px;
	border: 1px solid #ddd;
}

#wrapper {
	min-height: 100%;
	background-image: url("../images/bg_concrete-seamless.png");
}
#header-wrapper {
	width: 100%;
	background: #fff;
}
.menu{
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
}
#menu-mid-item {
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
.social_menu{
	display: inline-block;
}
.social-icon {
	width: 68px;
	height: 63px;
	padding-right: 5px;
}

/*.clearfix:after {
	content: "";
	display: table;
	clear: both;
	visibility: hidden;
    line-height: 0;
    height: 0;
}*/
.clear {
	clear: both;
}

#profile_photo {
	width: 250px;
	height: 170px;
	float: left;
	margin: 0px 20px 20px 0px;
}
#content-wrapper {	
	width: 100%;
	padding-top: 20px;
	border-top: 2px solid #ccc;
	min-height: 100%;
}
#content-inside {
	width: 960px;
	margin: auto;
}

.portfolio_pic {
	width: 280px;
	height: 200px;
	/*padding-right: 20px;*/
}

ul.portfolio li{
	display: inline-block;
	width: 49%;
}

.portfolio_item_title {
	width: 280px;
	height: 50px;
	background: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #fff;
	position: relative;
	margin-bottom: -50px;
	bottom: 70px;
	left: 0px;
	z-index: 2;
	text-align: center;
	font-size: 22px;
	padding-top: 8px;
}

#contact_form {
	font-size: 20px;
	line-height: 2;
}
input {
	width: 100%;
	height: 35px;
	font-size: 18px;
	color: #aaa;
	padding: 8px;
	margin-bottom: 15px;
}
input:focus {
	color: black;
}
textarea {
	width: 100%;
	height: 200px;
	font-size: 18px;
	color: #aaa;
	padding: 8px;
	border-color: #ccc;
}
textarea:focus {
	color : #000;
}

#f_submit {
	width: 150px;
	height: 50px;
	font-size: 20px;
	background: #4aaaa6;
	color: #fff;
	border: 0px;
}

/* styling for form placeholders */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}
/* ------------------------------*/
